<h3 id='about_toggler' class='toggler'>Edit title/description</h3>
<div class='element'>
	<div class="elementBody">
		<div class="ebCont">		
			<p>
				<label>
					Title
					{{ shellform.title }}
				</label>
			</p>
			<p>
				<label>				
					Description
					{{ shellform.description }}
				</label>
			</p>
			<p>
				<label>				
					Body Tag
					{{ shellform.body_tag }}
				</label>
			</p>
			<p>
				<label>DTD
				<select name='doctype'>{% for doctype in doctypes %}
					<option {% if shell %}{% if doctype.current %}selected {% endif %}{% else %}{% if doctype.selected %}selected {% endif %}{% endif %}id="dtd_{{ doctype.name }}" value="{{ doctype.id }}"/>{{ doctype.name }}</option>
			{% endfor %}</select></label></p>
		</div>	
	</div>	
</div>

<h3 class='toggler'>Backend support</h3>
<div class='element'>
	<div class="elementBody">
		<div class="ebCont">
		
			<p>To make Ajax calls possible there are two back-end views written.
				<code>{% url ajax_json_echo %}</code> for JSON and 
				<code>{% url ajax_html_echo %}</code> for HTML. They both wait 2 seconds 
				before answering to simulate web latency. HTML one may contain the 
				JavaScript, it will be run if Request.HTML used.
			</p>
			<p>
				To use them just make an Ajax request using above URLs. 
				JSON will return everything from POST and GET in the form 
				of: 
			</p>
<pre>{ 
  'post_response': {}, 
  'get_response': {} 
}</pre>
			<p>
				HTML will return the HTML code provided in POST <code>'html'</code> key. Please do follow
				<a onclick='Layout.sidebar.accordion.display(Layout.sidebar.accordion.togglers.indexOf($("examples_toggler")))' href="#">examples</a>.
			</p>
		</div>
	</div>
</div>
